<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.ntlab.graffiti">

  <uses-permission android:name="android.permission.CAMERA"/>
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.READ_LOGS"
      tools:ignore="ProtectedPermissions" />
  <uses-permission android:name="android.permission.INTERNET" />
  <!-- 注意：「起動完了」のBroadcastを受信するには、パーミッションが必要 -->
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- This tag indicates that this application requires ARCore.  This results in the application
         only being visible in the Google Play Store on devices that support ARCore. -->
  <uses-feature android:name="android.hardware.camera.ar" android:required="true"/>
  <uses-feature android:glEsVersion="0x00020000" android:required="true" />
  <!-- Tell the system this app requires OpenGL ES 3.0. -->
<!--  <uses-feature android:glEsVersion="0x00030000" android:required="true" />-->
  <uses-feature android:name="com.google.ar.core.depth" />

  <application
      android:name="org.ntlab.graffiti.graffiti.Graffiti"
      android:allowBackup="false"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:theme="@style/AppTheme"
      android:usesCleartextTraffic="false"
      android:networkSecurityConfig="@xml/network_security_config"
      tools:ignore="GoogleAppIndexingWarning">

    <activity
        android:name="org.ntlab.graffiti.graffiti.ModeSelectActivity"
        android:configChanges="orientation|screenSize"
        android:exported="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:screenOrientation="locked">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <activity
        android:name="org.ntlab.graffiti.graffiti.GraffitiActivity"
        android:configChanges="orientation|screenSize"
        android:exported="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:screenOrientation="locked">
    </activity>

    <activity
        android:name="org.ntlab.graffiti.graffiti.ColoringBattleActivity"
        android:configChanges="orientation|screenSize"
        android:exported="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:screenOrientation="locked">
    </activity>

    <activity
        android:name="org.ntlab.graffiti.graffiti.PhotoGalleryActivity"
        android:configChanges="orientation|screenSize"
        android:exported="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:screenOrientation="locked">
    </activity>

    <activity
        android:name="org.ntlab.graffiti.graffiti.ShowPhotoActivity"
        android:configChanges="orientation|screenSize"
        android:exported="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:screenOrientation="locked">
    </activity>
    <!-- This tag indicates that this application requires ARCore.  This results in the Google Play
         Store downloading and installing ARCore along with the application. -->
    <meta-data android:name="com.google.ar.core" android:value="required" />
    <!-- BroadcastReceiverの登録 -->
    <receiver
        android:name="org.ntlab.graffiti.common.helpers.ReceiverHelper">
      <!-- 受信するBroadcastIntentの種類を設定 -->
      <intent-filter>
        <!-- 端末の起動処理終了時に発生するBroadcast -->
        <action android:name="android.intent.action.BOOT_COMPLETED" />
      </intent-filter>
    </receiver>
  </application>
</manifest>
